<h1 style="text-align:center;">Welcome Blogger!!</h1>
<br>
<% if userauthentication_signed_in? && @articles.to_s.length>0%>
  <% @articles.each do |i| %>
    <div class="row p-3 mb-2 bg-light text-dark shadow-none p-3 mb-5 bg-light rounded ">
      <div class="col-sm-12">
        <% hash={} %>
        <% current_userauthentication.favorites.each do |fav| %>
          <% hash[fav.articlesection_id] =1 %>
        <% end %>
        <%if hash[i.id].nil? %>
          <p style="text-align:right;"><%= link_to "Add to favorites?",favorites_add_path(:article_id =>i.id),class: "btn btn-light" %></p>
        <% else %>
          <p style="text-align:right;"><%= link_to "Favorite one!!",favorites_remove_path(:article_id =>i.id),class: "btn btn-outline-success" %></p>
        <% end %>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%=i.article_topic%></h5>
            <p class="card-text"><%=i.article_content%></p>
            <br>
              <h5 class="card-title">
                <% users=i.likesection.users_liked.to_s.split(',') %>
                <% if users.include?current_userauthentication.id.to_s %>
                  <%= link_to "Liked", likesections_remove_like_path(:article_id =>i.id),class:"btn btn-outline-success",:anchor => 'like_' << i.id.to_s %>
                <% else %>
                  <%= link_to "Like", likesections_new_like_path(:article_id =>i.id),class: "btn btn-primary" %>
                <% end %>
            <%= link_to "Comment",commentsections_new_path(:article_id => i.id),class: "btn btn-primary" %>
            <%= link_to "View More",articlesections_view_more_path(:article_id => i.id),class: "btn btn-primary" %>
            <p style="text-align:right;">
            <%="Credits : "+ i.userauthentication.email%></p></h5>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% else %>
  <% @articles.each do |i| %>
    <div class="row p-3 mb-2 bg-light text-dark shadow-none p-3 mb-5 bg-light rounded ">
      <div class="col-sm-12">
        <p style="text-align:right;"><%= link_to "Add to favorites?",new_userauthentication_session_path,class: "btn btn-light" %></p>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%=i.article_topic%></h5>
            <p class="card-text"><%=i.article_content%></p>
            <br>
              <h5 class="card-title">
              <%= link_to "Like", new_userauthentication_session_path,class: "btn btn-primary" %>
            <%= link_to "Comment",new_userauthentication_session_path,class: "btn btn-primary" %>
            <%= link_to "View More",new_userauthentication_session_path,class: "btn btn-primary" %>
            <p style="text-align:right;">
            <%="Credits : Hidden"%></p></h5>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
