<h1 style="text-align:center;">My Articles!!</h1>
<% if @articlesections.length == 0 %>
  <br>
  <br>
  <br>
  <p style="text-align:center;">No Articles yet, Add one here
  <%= link_to "New Article?",new_articlesection_path,class:"btn btn-outline-secondary" %>
  </p>
<% else %>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Article topic</th>
        <th>Article content</th>
        <th>Likes count</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @articlesections.each do |articlesection| %>
        <% if current_userauthentication.id==articlesection.userauthentication_id %>
          <tr>
            <td><%= articlesection.article_topic %></td>
            <td><%= articlesection.article_content.slice(0,50)%>
              <% if articlesection.article_content.length > 50 %>
                <%= "..." %>
              <% end %>
            </td>
            <td><%= articlesection.likes_count %></td>
            <td><%= link_to 'View', articlesection ,class:"btn btn-light"%></td>
            <td><%= link_to 'Destroy', articlesection, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-outline-danger" %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<br>

<%= link_to 'New Article?', new_articlesection_path,class:"btn btn-outline-secondary" %>
<% end %>
