<h1>My Articles</h1>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th>User</th>
      <th>Article topic</th>
      <th>Article content</th>
      <th>Likes count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articlesections.each do |articlesection| %>
      <tr>
        <td><%= articlesection.user_id %></td>
        <td><%= articlesection.article_topic %></td>
        <td><%= articlesection.article_content.slice(0,30)+"..." %></td>
        <td><%= articlesection.likes_count %></td>
        <td><%= link_to 'Show', articlesection %></td>
        <td><%= link_to 'Edit', edit_articlesection_path(articlesection) %></td>
        <td><%= link_to 'Destroy', articlesection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article?', new_articlesection_path,class:"btn btn-outline-secondary" %>
