<h1 style="text-align:center;">Favorites!!</h1>
<br>
<% if @favorites.length == 0 %>
  <br>
  <br>
  <p style="text-align:center;">No Favorites yet, Find one here
  <%= link_to "Articles", root_path,class:"btn btn-outline-secondary" %>
  </p>
<% else %>
  <% @favorites.each do |i| %>
    <% if i.userauthentication_id==current_userauthentication.id %>
      <div class="row p-3 mb-2 bg-light text-dark shadow-none p-3 mb-5 bg-light rounded ">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%=i.articlesection.article_topic%></h5>
              <p class="card-text"><%=i.articlesection.article_content%></p>
              <br>
              <%= link_to "View More",articlesections_view_more_path(:article_id => i.articlesection_id),class: "btn btn-primary" %>
              <p style="text-align:right;">
                <%  %>
              <%="Credits : "+ i.articlesection.userauthentication.email%></p></h5>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
