<body id='bg'>
<br>
<div class='card container' style='width:550px;background-color:'>
  <div class='card-body'>
    <h2 style="text-align:center;">Forgot my password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group">
    <%= f.label :Email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:"form-control"%>
  </div>
  <div class="actions">
    <%= f.submit "Send me reset password instructions",class:"btn btn-secondary"%>
  </div>
<% end %>
<br>

<%= render "devise/shared/links" %>
</div>
</div>
</body>
